@{
    ViewBag.Title = "Home Page";
}

<div class="w3-sidebar w3-card-2 w3-bar-block" style="left:10px;width:15%;height:40%">
    <h2>Documentation References</h2>
    <br />
    <p>
        <a href="https://github.com/AvyanConsultingCorp/pci-paas-webapp-ase-sqldb-appgateway-keyvault-oms/" class="w3-button w3-blue" style="width:65%;text-align:left" target="_blank">Github Repository</a>
        <br />
    </p>
    <p>
        <a href="https://github.com/AvyanConsultingCorp/pci-paas-webapp-ase-sqldb-appgateway-keyvault-oms/#deployment-architecture" class="w3-button w3-blue" style="width:80%;text-align:left" target="_blank">Solution Architecture</a>
        <br />
    </p>
    <p>  <a href="https://github.com/AvyanConsultingCorp/pci-paas-webapp-ase-sqldb-appgateway-keyvault-oms/#solution-deployment" class="w3-button w3-blue" style="width:95%;text-align:left" target="_blank">Deployment Guide</a>
    </p>
</div>

<div style="margin-left:10%">
    <p class="tab">
        <img src="https://raw.githubusercontent.com/AvyanConsultingCorp/pci-paas-webapp-ase-sqldb-appgateway-keyvault-oms/master/images/4tier.png" style="width:90%;height:80%" alt="Azure PCI DSS or HIPAA Compliance Blueprint" />
    </p>
    <br />
    
    <br />
    <p>For project consultations/demos/workshops, please get in touch with the Avyan Consulting team. <a href="mailto:azurecompliance@avyanconsulting.com">azurecompliance@avyanconsulting.com</a></p>
    <br />
            
    <b style="text-transform:uppercase;">Disclaimer:</b>
    <ul>
        <li>
            <b> Customer </b> is responsible for conducting appropriate security and compliance reviews of any solution built with this reference architecture,
            as requirements may vary based on the specifics of customer’s implementation and geography.
        </li>
        <li> PCI DSS AND HIPAA requires that an accredited Qualified Security Assessor certify Customer’s solution</li>
    </ul>

</div>



