body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI';
    font: 18px;
    margin:0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family:Calibri;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tab {
    margin-left: 40px;
}

div.relative {
    position: relative;
    right: 0;
    left: 0;
    width: 300px;
}
